* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.modal-content-wrapper {
  width: 500px;
  height: 700px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px; }
  .modal-content-wrapper .closeBtn {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer; }
  .modal-content-wrapper .form-holder {
    position: relative;
    height: 80%;
    background-color: #2e27ff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .modal-content-wrapper .form {
    position: absolute;
    padding: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .modal-content-wrapper .form-one {
    background-color: aquamarine;
    height: 100%;
    width: 100%; }
  .modal-content-wrapper .form-two {
    left: 100%;
    background-color: #ff5d5f;
    height: 100%;
    width: 100%; }
  .modal-content-wrapper .form-three {
    left: 100%;
    background-color: teal;
    height: 100%;
    width: 100%; }
  .modal-content-wrapper .nextBtnHolder {
    height: 20%;
    background-color: aqua;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .modal-content-wrapper .nextBtnHolder p {
      margin: auto;
      cursor: pointer;
      padding: 10px 30px;
      background-color: rebeccapurple;
      border-radius: 5px; }
